.header {
    background: rgba(229, 84, 115, 0.10);
}

.body {
    font-family: 'Lato', sans-serif;
}

.banner {
    padding: 50px 200px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.banner-heading {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 600px;
    height: 250px;
    padding-bottom: 100px;

}

.banner p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 25px;
    font-weight: 400px;
    width: 635px;
    height: 90px;
    padding-bottom: 20px;

}

.btn-primary {
    color: #FFF;
    padding: 20px 43px;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    background: #E55473;
}

.banner-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 0px;
    padding-top: 100px;
}

.featured-flowers p {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400px;

}

.featured-flowers {
    background: #FFF;


}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 300px 200px 300px;
    gap: 30px;

}

.pink {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 115px 75px 0px 75px;
}

.red {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 115px 45px 50px 47px;

}

.yellow {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 65px 75px 0px 75px;
}

.desc {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

.sale-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 300px 400px 250px 400px;
}

.sale-heading {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sale-section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    width: 594px;
    height: 60px;

}

.Off {
    color: red;
}
.Instagram {
    background: #FFF;
    padding: 100px 240px 100px 240px;
    text-align: center;
    text-align: center;
}
.Instagram-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 240px 100px 240px;
    ;
    gap: 30px;

}

.Instagram-title {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 0px;
}

.Instagram p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400px;
}



.Deals {
    background: #FFF;
    padding:100px 240px 300px 240px;
    text-align: center;
    text-align: center;
    background-image: url(../Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-position: center;
}


.Deals-title {
    color: #272727;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 0px;
}

.Deals p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400px;

}

#email {
    border: 100px;
    border-radius: 5px;
    padding: 20px 43px;
    background: #FFF;
    width: 400px;
}

.footer {
    background: #111010;
    padding:100px 240px 100px 240px ;


    
}
.footer-title {
    text-align: center;

}
.pink1 {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.white {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
}



.footer p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
}